.nav__ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.nav-components {
  max-width: 1080px;
  width: 100%;
}

a {
  display: inline-block;
}

.activeRoute {
  border-bottom-color: white;
  border-bottom-style: solid;
}

.navbar {
  height: 80px;
  background-color: #323232;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

@media screen and (min-width: 320px) and (max-width: 450px) {
  .navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .nav-components {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
  .nav-logo {
    padding: 0px 0px 0px 0px;
    margin: 26px 0px 4px 0px;
  }
  .nav-routes {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .nav_link {
    color: white;
    font-size: 13px;
    text-decoration: none;
    margin: 0px 0px;
    padding: 0px 53px 8.5px 53px;
  }
}

@media screen and (min-width: 451px) and (max-width: 1199px) {
  .navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .nav-components {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0px 24px;
  }
  .nav-routes {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .nav-logo {
    margin: 0px 56px 0px 0px;
  }
  .nav_link {
    color: white;
    font-size: 13px;
    text-decoration: none;
    margin: 0px 16px;
    padding: 32px 0 29px 0;
  }
}

@media screen and (min-width: 1200px) {
  .navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .nav-components {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .nav-routes {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .nav-logo {
    margin: 0px 56px 0px 0px;
  }
  .nav_link {
    color: white;
    font-size: 13px;
    text-decoration: none;
    margin: 0px 16px;
    padding: 32px 0 29px 0;
  }
}
/*# sourceMappingURL=Nav.css.map */