// General style sets

a {
  display: inline-block;
}

.activeRoute {
  border-bottom-color: white;
  border-bottom-style: solid;
}

.navbar {
  height: 80px;
  background-color: #323232;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
}



// Media-Queries

@media screen and (min-width: 320px) and (max-width: 450px) {
  .navbar {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .nav-components {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .nav-logo {
    padding: 0px 0px 0px 0px;
    margin: 26px 0px 4px 0px;
  }
  .nav-routes {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
  }
  .nav_link {
    color: white;
    font-size: 13px;
    text-decoration: none;
    margin: 0px 0px;
    padding: 0px 53px 8.5px 53px;
  }
}

@media screen and (min-width: 451px) and (max-width: 1199px) {
  .navbar {
    display: flex;
    justify-content: left;
    align-items: center;
  }
  .nav-components {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    margin: 0px 24px;
  }
  .nav-routes {
    display: flex;
    flex-direction: row;
  }
  .nav-logo {
    margin: 0px 56px 0px 0px;
  }
  .nav_link {
    color: white;
    font-size: 13px;
    text-decoration: none;
    margin: 0px 16px;
    padding: 32px 0 29px 0;
  }
}
@media screen and (min-width: 1200px) {
  .navbar {
    display: flex;
    justify-content: left;
    align-items: center;
  }
  .nav-components {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    margin: 0px 180px;
  }
  .nav-routes {
    display: flex;
    flex-direction: row;
  }
  .nav-logo {
    margin: 0px 56px 0px 0px;
  }
  .nav_link {
    color: white;
    font-size: 13px;
    text-decoration: none;
    margin: 0px 16px;
    padding: 32px 0 29px 0;
  }
}
