$mercury: #e1e1e1;
$blue: #004892;
$regularFont: AvenirNextRegular;
$boldFont: AvenirNextBold;
$demiBoldFont: AvenirNextDemiBold;

.iide {
  max-width: 1080px;
  width: 100%;
}
.iide__one {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.iide__backbutton {
  margin: 0px 15px 0px 0px;
}
iide__one__title {
  padding: 0px;
  font-size: 20px;
}
.iide__header {
  color: #afafaf;
  padding: 0px;
  font-size: 14px;
  margin: 0px;
}
.iide__info {
  color: $mercury;
  padding: 0px;
  margin: 0px;
}
.iide__description__container {
  display: flex;
  flex-direction: column;
}
.iide__categories__container {
  display: flex;
  flex-direction: column;
}
.iide__toggle__container {
  display: flex;
  flex-direction: column;
}
.iide__stock {
  display: flex;
  align-items: center;
}
.iide__button__save {
  background-color: $blue;
  color: white;
  width: 150px;
  height: 40px;
}
.iide__button__cancel {
  color: $blue;
}
.iide__input {
  border-color: $mercury;
}
.iide__description.color {
  border: 1px solid $mercury;
}
.iide__input.color {
  border: 1px solid $mercury;
}
.iide__input__categories.color {
  border: 1px solid $mercury;
}

select {
  display: block;
  border: 1px $mercury solid;
  border-radius: 2px;
  height: 20px;
  width: 288px;
}

@media screen and (min-width: 320px) and (max-width: 450px) {
  .iide {
    margin: 0px 10px;
  }
  .iide__one {
    display: flex;
    flex-direction: row;
    justify-content: left;
    height: 100px;
  }
  .iide__desk {
    width: 100%;
  }

  .iide__block {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .iide__info__chunk {
    display: flex;
    flex-direction: column;
  }
  .iide__info {
    margin: 0px 0px 24px 0px;
  }
  .iide__input {
    display: block;
    border: 1px $mercury solid;
    height: 35px;
    width: 288px;
  }
  .iide__input__categories {
    border: 1px $mercury solid;
    border-radius: 3px;
    height: 90px;
    width: 288px;
  }
  .iide__description {
    border: 1px solid;
    border-radius: 3px;
    height: 110px;
    width: 288px;
  }
  .iide__select {
    width: 288px;
  }
  .iide__sub {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .iide__toggle__container {
    display: flex;
    width: 294px;
    height: 50px;
  }
  .iide__stock {
    display: flex;
    align-content: right;
  }
  .iide__block__bottom {
    width: 100%;
  }
  .iide__button__save {
    width: 288px;
    height: 40px;
  }
  .iide__block__foot {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .iide__button__cancel {
    width: 294px;
  }
}
@media screen and (min-width: 451px) and (max-width: 1199px) {
  .iide {
    margin: 0px 24px;
  }
  .iide__one {
    display: flex;
    justify-content: left;
    height: 80px;
  }
  .iide__two {
    width: 70%;
  }
  .iide__backbutton {
    margin: 0px 25px 0px 0px;
  }
  .iide__one__title {
    margin: 0px 25px 0px 0px;
  }
  .iide__hr {
    margin: 0px 0px 30px 0px;
  }
  .iide__info {
    height: 60px;
  }
  .iide__description {
    width: 512px;
    height: 110px;
    margin: 0px;
  }
  .iide__block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 512px;
  }
  .iide__block__status {
    display: flex;
    flex-direction: row;
    width: 512px;
  }
  .iide__select {
    width: 205px;
    height: 30px;
    padding: 0px;
    margin: 0px 0px 10px 0px;
  }
  .iide__desk__two {
    width: 520px;
  }
  .iide__input {
    margin: 0px 0px 10px 0px;
    height: 30px;
  }
  .iide__input.quantity {
    margin: 0px 52px 0px 0px;
  }
  .iide__input__categories {
    width: 512px;
    height: 90px;
  }
  .iide__info__chunk {
    display: flex;
    flex-direction: row;
    margin: 20px 0px 0px 0px;
  }
  .iide__toggle__container {
    display: flex;
    flex-direction: column;
    margin: 0px 0px 0px 0px;
    width: 208px;
  }
  .iide__toggle {
    margin: 0px 30px 0px 0px;
  }
  .iide__stock {
    display: flex;
    justify-content: space-between;
  }
  .iide__block__foot {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    height: 60px;
    width: 720px;
  }
  .iide__button__save {
    width: 180px;
    height: 40px;
    border-radius: 5px;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1440px) {
  .iide {
    display: flex;
    justify-content: center;
    margin: 0px 24px;
    width: 100%;
  }
  .iide__bigblock {
    width: 100%;
  }
  .iide__one {
    display: flex;
    justify-content: left;
    height: 80px;
  }
  .iid__one__title {
    margin: 0px 25px 0px 0px;
  }
  .iide__hr {
    margin: 0px 0px 30px 0px;
  }
  .iide__form {
    display: flex;
    flex-direction: row;
  }
  .iide__description__container {
    width: 43%;
  }
  .iide__desk__two {
    width: 43%;
  }
  .iide__description {
    width: 400px;
    height: 110px;
  }
  .iide__input {
    width: 175px;
    height: 30px;
    margin: 0px 80px 0px 0px;
  }
  .iide__input__categories {
    width: 400px;
    height: 90px;
  }
  .iide__input.quantity {
    margin: 0px 40px 0px 0px;
  }
  .iide__select {
    width: 181px;
    margin: 0px;
  }
  .iide__backbutton {
    margin: 0px 25px 0px 0px;
  }
  .iide__info__chunk {
    display: flex;
    flex-direction: row;
    margin: 0px;
  }
  .iide__two {
    width: 50%;
  }
  .iide__info__two {
    width: 80%;
  }
  .iide__info {
    height: 60px;
  }
  .iide__block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
    height: 120px;
  }
  .iide__block__status {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 10px 0px 10px 0px;
  }
  .iide__toggle__container {
    margin: 0px 0px 0px 0px;
    width: 180px;
  }
  .iide__block__button {
    float: right;
  }
  .iide__block__foot {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    height: 60px;
    width: 847px;
  }
}
@media screen and (min-width: 1440px) {
  .iide {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 1440px;
    margin: 0px;
  }
  .iide__bigblock {
    width: 1080px;
  }
  .iide__one {
    display: flex;
    justify-content: left;
    height: 80px;
  }
  .iide__backbutton {
    margin: 0px 25px 0px 0px;
  }
  .iide__form {
    display: flex;
    flex-direction: row;
  }
  .iide__description__container {
    width: 50%;
  }
  .iide__desk__two {
    width: 50%;
  }
  .iide__description {
    width: 512px;
    height: 110px;
  }
  .iide__input {
    height: 30px;
    margin: 0px;
  }
  .iide__input__categories {
    width: 475px;
    height: 90px;
  }
  .iide__input.quantity {
    margin: 0px 50px 0px 0px;
  }
  .iide__select {
    width: 181px;
  }
  .iide__info__chunk {
    display: flex;
    flex-direction: row;
  }
  .iid__one__title {
    margin: 0px 25px 0px 0px;
  }
  .iide__hr {
    margin: 0px 0px 30px 0px;
  }
  .iide__two {
    width: 50%;
  }
  .iide__info__two {
    width: 80%;
  }
  .iide__info {
    height: 60px;
  }
  .iide__block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
  }
  .iide__stock {
    display: flex;
    justify-content: space-between;
  }
  .iide__block__status {
    display: flex;
    flex-direction: row;
  }
  .iide__toggle__container {
    margin: 0px 0px 0px 40px;
  }
  .iide__block__button {
    float: right;
  }
  .iide__block__foot {
    width: 100%;
  }
}
