//button colour: rgb(8, 74, 144)

.iid__one {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    height: 100px;
}
iid__one__title {
    padding: 0px;
    font-size: 20px;
}
.iid__one__button {
  border: 2px rgb(106, 174, 43);
  border-radius: 5px;
  background: rgb(106, 174, 43);
  color: white;
  height: 25px;
}
.iid__header {
    color:#AFAFAF; 
    padding: 0px;
    font-size: 14px;
    margin: 0px;
}
.iid__info__chunk {
    display: flex;
    flex-direction: row;
}
.iid__info {
    color: #323232;
    padding: 0px;
    margin: 0px;
}
.iid__block {
    display: flex;
    flex-direction: column;
    justify-content: space-between
}
.iid__sub {
    display: flex;
    flex-direction: column;
}
.iid__button {
    height: 50px;
    width: 288px;
    background-color: rgb(8, 74, 144);
    color: white;
    border-radius: 5px;
}
.iid__button__block {
    display: flex;
}

@media screen and (min-width: 320px) and (max-width: 450px) {
    .iid {
        margin: 0px 16px
    }
}
@media screen and (min-width: 451px) and (max-width: 1199px) {}
@media screen and (min-width: 1200px) {}
