.iid {
  margin: 0px 16px;
}

.iid__one {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

iid__one__title {
  padding: 0px;
  font-size: 20px;
}

.iid__one__button {
  border: 2px #6aae2b;
  border-radius: 5px;
  background: #6aae2b;
  color: white;
  height: 25px;
  width: 90px;
}

.iid__header {
  color: #afafaf;
  padding: 0px;
  font-size: 14px;
  margin: 0px;
}

.iid__info {
  color: #323232;
  padding: 0px;
  margin: 0px;
}

.iid__backbutton:hover {
  cursor: pointer;
}

@media screen and (min-width: 320px) and (max-width: 450px) {
  .iid__one {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    height: 100px;
  }
  .iid__block {
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .iid__block__bottom {
    width: 100%;
  }
  .iid__backbutton {
    display: none;
  }
  .iid__info {
    margin: 0px 0px 24px 0px;
  }
  .iid__sub {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .iid__info__chunk {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .iid__button {
    height: 50px;
    width: 288px;
    background-color: #084a90;
    color: white;
    border-radius: 5px;
  }
}

@media screen and (min-width: 451px) and (max-width: 1199px) {
  .iid__one {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    height: 80px;
  }
  .iid__two {
    width: 70%;
  }
  .iid__backbutton {
    margin: 0px 25px 0px 0px;
  }
  .iid__one__title {
    margin: 0px 25px 0px 0px;
  }
  .iid__hr {
    margin: 0px 0px 30px 0px;
  }
  .iid__info {
    height: 60px;
  }
  .iid__block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 45%;
  }
  .iid__info__chunk {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin: 20px 0px 0px 0px;
  }
  .iid__button {
    height: 50px;
    width: 150px;
    background-color: #084a90;
    color: white;
    border-radius: 5px;
  }
  .iid__block__button {
    float: right;
  }
}

@media screen and (min-width: 1200px) {
  .iid {
    margin: 0px 180px;
  }
  .iid__one {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    height: 80px;
  }
  .iid__desk {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .iid__backbutton {
    margin: 0px 25px 0px 0px;
  }
  .iid__info__chunk {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .iid__one__title {
    margin: 0px 25px 0px 0px;
  }
  .iid__hr {
    margin: 0px 0px 30px 0px;
  }
  .iid__two {
    width: 50%;
  }
  .iid__info__two {
    width: 80%;
  }
  .iid__info {
    height: 60px;
  }
  .iid__block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 50%;
  }
  .iid__button {
    height: 50px;
    width: 150px;
    background-color: #084a90;
    color: white;
    border-radius: 5px;
  }
  .iid__block__button {
    float: right;
  }
}
/*# sourceMappingURL=InventoryItemDetail.css.map */