/* ------- VARIABLES ------ */
/* ------- MIXINS ------ */
/* ------- FONTS ------ */
@font-face {
  font-family: AvenirNextRegular;
  src: url("../../Assets/Fonts/AvenirNextProLT/AvenirNextLTPro-Regular.otf");
}

@font-face {
  font-family: AvenirNextBold;
  src: url("../../Assets/Fonts/AvenirNextProLT/AvenirNextLTPro-Bold.otf");
}

@font-face {
  font-family: AvenirNextDemiBold;
  src: url("../../Assets/Fonts/AvenirNextProLT/AvenirNextLTPro-Demi.otf");
}

/* ------- GLOBAL ------ */
* {
  overflow-x: hidden;
  color: #323232;
  font-family: AvenirNextRegular;
}

body {
  margin: 0;
  height: 100%;
  width: 100%;
}

h1 {
  font-size: 36px;
  line-height: 44px;
  font-family: AvenirNextBold;
}

h2 {
  font-size: 24px;
  line-height: 32px;
  font-family: AvenirNextBold;
}

h3 {
  font-size: 16px;
  line-height: 24px;
  font-family: AvenirNextDemiBold;
}

p {
  font-size: 14px;
  line-height: 22px;
  font-family: AvenirNextRegular;
}

h4,
li {
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  font-family: AvenirNextRegular;
}

h5,
th,
td {
  font-size: 12px;
  line-height: 20px;
  font-family: AvenirNextRegular;
}

/* ------- PICTURE GALLERY ------ */
.color__white {
  color: #ffffff;
}

.color__black {
  color: #323232;
}

.color__silver {
  color: #afafaf;
}

/* ------- SECTION CLASSES ------ */
.inventoryNew {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-height: 100%;
  max-width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.inventoryNew__button {
  color: #ffffff;
  border-radius: 4px;
  background-color: #004892;
  text-align: center;
  border: 1px #004892 solid;
  width: 160px;
  height: 48px;
}

.inventoryNew__main {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  height: 100%;
  width: 100%;
}

.inventoryNew__section {
  width: 480px;
  margin-top: 148px;
  /* temp */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 4px;
  padding: 24px 48px 0 48px;
  height: 600px;
  background-color: #ffffff;
}

.inventoryNew__name {
  height: 46px;
  padding: 0 0 0 16px;
  background-color: #fafafa;
}

.inventoryNew__comment {
  height: 62px;
  padding: 16px 0 0 16px;
  background-color: #fafafa;
  margin-bottom: 40px;
}

.inventoryNew__cancel {
  border: none;
  background: none;
  color: #004892;
  padding: 0 48px;
}

.inventoryNew__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.inventoryNew__select {
  height: 50px;
  padding: 0 0 0 16px;
  background-color: #fafafa;
}

.inventoryNew__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.inventoryNew__switchContainer {
  width: 220px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.inventoryNew__stock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 15px;
}

.inventoryNew__inputValid {
  border: 2px #323232 solid;
}

.inventoryNew__addButton {
  width: 80px;
  height: 80px;
  color: #ffffff;
  background-color: #004892;
  border-radius: 50%;
  position: fixed;
  bottom: 10%;
  right: 15%;
  border: none;
}

input {
  width: 202px;
  display: block;
  border: 1px #e1e1e1 solid;
  border-radius: 2px;
}

select {
  width: 220px;
  display: block;
  border: 1px #e1e1e1 solid;
  border-radius: 2px;
  padding: 0 0 0 16px;
  margin-bottom: 24px;
}

textarea {
  width: 460px;
  display: block;
  border: 1px #e1e1e1 solid;
  border-radius: 2px;
}

label {
  font-size: 12px;
  line-height: 20px;
  color: #afafaf;
}

input {
  margin-bottom: 24px;
}

::-webkit-input-placeholder {
  color: #323232;
}

:-ms-input-placeholder {
  color: #323232;
}

::-ms-input-placeholder {
  color: #323232;
}

::placeholder {
  color: #323232;
}

input:focus,
textarea:focus,
select:focus,
input:valid,
textarea:valid,
select:valid {
  outline: none;
  border: 2px #323232 solid;
  background-color: #ffffff;
}

.inventoryNew__dataFilled {
  border: 2px #323232 solid;
}

/* ------- ANIMATIONS ------ */
.scale-in-center {
  -webkit-animation: scale-in-center 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: scale-in-center 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}

/* ------- MEDIA QUERIES ------ */
@media screen and (max-width: 575px) {
  .inventoryNew {
    background: none;
  }
  .inventoryNew__form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .inventoryNew__comment {
    width: 268px;
  }
  .inventoryNew__section {
    height: 1000px;
    margin: 0;
    padding: 0 16px;
  }
  .inventoryNew__buttons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .inventoryNew__cancel {
    margin: 24px;
  }
  .inventoryNew__stock {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 15px;
    margin-bottom: 24px;
  }
  .inventoryNew__button {
    width: 220px;
  }
  .inventoryNew__switchContainer {
    width: 288px;
  }
  .inventoryNew__addButton {
    width: 60px;
    height: 60px;
    bottom: 10%;
    right: 10%;
    border: none;
  }
}
/*# sourceMappingURL=InventoryNew.css.map */