/* ------- VARIABLES ------ */

$black: #323232;
$white: #ffffff;
$silver: #afafaf;
$alablaster: #fafafa;
$mercury: #e1e1e1;
$blue: #004892;
$darkBlue: #002f5f;
$regularFont: AvenirNextRegular;
$boldFont: AvenirNextBold;
$demiBoldFont: AvenirNextDemiBold;

/* ------- MIXINS ------ */
@mixin flex {
  display: flex;
}

@mixin flexAndWrap {
  display: flex;
  flex-wrap: wrap;
}

@mixin colorBlack {
  color: $black;
}

@mixin colorWhite {
  color: $white;
}

@mixin colorSilver {
  color: $silver;
}

@mixin maxWidth {
  width: 100%;
}

/* ------- FONTS ------ */

@font-face {
  font-family: AvenirNextRegular;
  src: url('../../Assets/Fonts/AvenirNextProLT/AvenirNextLTPro-Regular.otf');
}

@font-face {
  font-family: AvenirNextBold;
  src: url('../../Assets/Fonts/AvenirNextProLT/AvenirNextLTPro-Bold.otf');
}

@font-face {
  font-family: AvenirNextDemiBold;
  src: url('../../Assets/Fonts/AvenirNextProLT/AvenirNextLTPro-Demi.otf');
}

/* ------- GLOBAL ------ */

* {
  overflow-x: hidden;
  @include colorBlack;
  font-family: $regularFont;
}

body {
  margin: 0;
}

h1 {
  font-size: 36px;
  line-height: 44px;
  @include colorBlack;
  font-family: $boldFont;
}

h2 {
  font-size: 24px;
  line-height: 32px;
  font-family: $boldFont;
}

h3 {
  font-size: 16px;
  line-height: 24px;
  font-family: $demiBoldFont;
}

p {
  font-size: 14px;
  line-height: 22px;
  font-family: $regularFont;
}

h4,
li {
  font-size: 14px;
  line-height: 20px;
  font-family: $regularFont;
}

h5,
th,
td {
  font-size: 12px;
  line-height: 20px;
  font-family: $regularFont;
}

/* ------- STYLING ------ */
.locations__wrapper {
  width: 100%;
  max-width: 1080px;
}

.locations__container {
  margin: 10px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  .locations__container-header {
    margin: 0;
    padding: 0;
    width: 100%;
    max-width: 1080px;

    h1 {
      margin-bottom: 0;
    }

    .locations__search {
      margin-top: 16px;
      margin-bottom: 0;
      background-image: url(../../Assets/Icons/SVG/Icon-search.svg);
      background-repeat: no-repeat;
      background-position: 5%;
      background-color: $alablaster;
      border: 1px solid $mercury;
      border-radius: 2px;
      width: 180px;
      padding: 15px 35px;
    }

    .locations__search:focus {
      background-image: none;
    }

    input:focus::placeholder,
    textarea:focus::placeholder {
      color: transparent;
    }
  }

  table {
    border-collapse: collapse;
    width: 100%;

    .locations__title-desktop {
      display: none;
    }

    .locations__row {
      border-bottom: 1px solid $mercury;

      .padding__info {
        padding-top: 8px;
        margin-bottom: 0;
      }

      .warehouse__title {
        padding-top: 24px;
      }

      .warehouse__category {
        padding-bottom: 8px;
      }

      td {
        display: block;
      }

      .img__arrow {
        position: relative;
        float: right;
        top: -170px;
        padding: 0;
        margin: 0;
      }
    }
  }
}

@media (min-width: 768px) {
  .locations__container {
    margin: 20px;

    .locations__container-header {
      margin: 0;
      margin-bottom: 12px;
      padding: 0;
      @include flex;
      justify-content: space-between;
      align-items: center;

      h1 {
        margin-bottom: 0;
      }

      .locations__search {
        margin-top: 16px;
        margin-bottom: 0;
        background-image: url(../../Assets/Icons/SVG/Icon-search.svg);
        background-repeat: no-repeat;
        background-position: 5%;
        border: 1px solid $mercury;
        border-radius: 2px;
        width: 20%;
        padding: 15px 35px;
      }
    }

    table {
      .locations__title-desktop {
        display: none;
      }

      .locations__row {
        @include flexAndWrap;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid $mercury;
        width: 100%;

        td {
          width: 20%;
        }

        .warehouse__title {
          width: 100%;
        }

        .img__arrow {
          position: relative;
          top: -45px;
          left: 80px;
        }
      }
    }
  }
}

@media (min-width: 1120px) {
  .locations__container {
    margin: 16px;
    // max-width: 1080px;

    .locations__container-header {
      margin: 0;
      margin-bottom: 48px;
      padding: 0;
      @include flex;
      justify-content: space-between;
      align-items: center;

      h1 {
        margin-bottom: 0;
      }

      .locations__search {
        margin-top: 16px;
        margin-bottom: 0;
        background-image: url(../../Assets/Icons/SVG/Icon-search.svg);
        background-repeat: no-repeat;
        background-position: 5%;
        border: 1px solid $mercury;
        border-radius: 2px;
        width: 25%;
      }
    }

    table {
      .locations__titles {
        display: flex;

        .locations__title-desktop {
          @include colorSilver;
          display: block;
        }

        th {
          text-align: left;
          width: 100%;
        }


        .category__title {
          margin-right: -32px;
          margin-left: 16px;
        }
      }

      .locations__row {
        @include flex;
        border-bottom: 1px solid $mercury;
        width: 100%;
        align-items: center;

        .warehouse__title {
          width: 20%;
        }


        .padding__info {
          padding-right: 24px;
        }

        td {
          text-align: left;
        }

        .img__arrow {
          left: 1050px;
          align-self: center;
        }
      }
    }
  }
}
