/* ------- VARIABLES ------ */
/* ------- MIXINS ------ */
/* ------- FONTS ------ */
@font-face {
  font-family: AvenirNextRegular;
  src: url("../../Assets/Fonts/AvenirNextProLT/AvenirNextLTPro-Regular.otf");
}

@font-face {
  font-family: AvenirNextBold;
  src: url("../../Assets/Fonts/AvenirNextProLT/AvenirNextLTPro-Bold.otf");
}

@font-face {
  font-family: AvenirNextDemiBold;
  src: url("../../Assets/Fonts/AvenirNextProLT/AvenirNextLTPro-Demi.otf");
}

/* ------- GLOBAL ------ */
* {
  overflow-x: hidden;
  color: #323232;
  font-family: AvenirNextRegular;
}

body {
  margin: 0;
}

h1 {
  font-size: 36px;
  line-height: 44px;
  color: #323232;
  font-family: AvenirNextBold;
}

h2 {
  font-size: 24px;
  line-height: 32px;
  font-family: AvenirNextBold;
}

h3 {
  font-size: 16px;
  line-height: 24px;
  font-family: AvenirNextDemiBold;
}

p {
  font-size: 14px;
  line-height: 22px;
  font-family: AvenirNextRegular;
}

h4,
li {
  font-size: 14px;
  line-height: 20px;
  font-family: AvenirNextRegular;
}

h5,
th,
td {
  font-size: 12px;
  line-height: 20px;
  font-family: AvenirNextRegular;
}

/* ------- STYLING ------ */
.locations__container {
  margin: 10px;
}

.locations__container .locations__container-header {
  margin: 0;
  padding: 0;
}

.locations__container .locations__container-header h1 {
  margin-bottom: 0;
}

.locations__container .locations__container-header .locations__search {
  margin-top: 16px;
  margin-bottom: 0;
  background-image: url(../../Assets/Icons/SVG/Icon-search.svg);
  background-repeat: no-repeat;
  background-position: 5%;
  background-color: #fafafa;
  border: 1px solid #e1e1e1;
  border-radius: 2px;
  width: 180px;
  padding: 15px 35px;
}

.locations__container .locations__container-header .locations__search:focus {
  background-image: none;
}

.locations__container .locations__container-header input:focus::-webkit-input-placeholder,
.locations__container .locations__container-header textarea:focus::-webkit-input-placeholder {
  color: transparent;
}

.locations__container .locations__container-header input:focus:-ms-input-placeholder,
.locations__container .locations__container-header textarea:focus:-ms-input-placeholder {
  color: transparent;
}

.locations__container .locations__container-header input:focus::-ms-input-placeholder,
.locations__container .locations__container-header textarea:focus::-ms-input-placeholder {
  color: transparent;
}

.locations__container .locations__container-header input:focus::placeholder,
.locations__container .locations__container-header textarea:focus::placeholder {
  color: transparent;
}

.locations__container table {
  border-collapse: collapse;
  width: 100%;
}

.locations__container table .locations__title-desktop {
  display: none;
}

.locations__container table .locations__row {
  border-bottom: 1px solid #e1e1e1;
}

.locations__container table .locations__row .padding__info {
  padding-top: 8px;
  margin-bottom: 0;
}

.locations__container table .locations__row .warehouse__title {
  padding-top: 24px;
}

.locations__container table .locations__row .warehouse__category {
  padding-bottom: 8px;
}

.locations__container table .locations__row td {
  display: block;
}

.locations__container table .locations__row .img__arrow {
  position: relative;
  float: right;
  top: -170px;
  padding: 0;
  margin: 0;
}

@media (min-width: 768px) {
  .locations__container {
    margin: 20px;
  }
  .locations__container .locations__container-header {
    margin: 0;
    margin-bottom: 12px;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .locations__container .locations__container-header h1 {
    margin-bottom: 0;
  }
  .locations__container .locations__container-header .locations__search {
    margin-top: 16px;
    margin-bottom: 0;
    background-image: url(../../Assets/Icons/SVG/Icon-search.svg);
    background-repeat: no-repeat;
    background-position: 5%;
    border: 1px solid #e1e1e1;
    border-radius: 2px;
    width: 20%;
    padding: 15px 35px;
  }
  .locations__container table .locations__title-desktop {
    display: none;
  }
  .locations__container table .locations__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    border-bottom: 1px solid #e1e1e1;
    width: 100%;
  }
  .locations__container table .locations__row .warehouse__title {
    width: 100%;
  }
  .locations__container table .locations__row .category {
    width: 30%;
  }
  .locations__container table .locations__row .img__arrow {
    position: relative;
    top: -45px;
  }
}

@media (min-width: 1080px) {
  .locations__container {
    margin: 16px;
    max-width: 1080px;
  }
  .locations__container .locations__container-header {
    margin: 0;
    margin-bottom: 48px;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .locations__container .locations__container-header h1 {
    margin-bottom: 0;
  }
  .locations__container .locations__container-header .locations__search {
    margin-top: 16px;
    margin-bottom: 0;
    background-image: url(../../Assets/Icons/SVG/Icon-search.svg);
    background-repeat: no-repeat;
    background-position: 5%;
    border: 1px solid #e1e1e1;
    border-radius: 2px;
    width: 25%;
    padding: 15px 35px;
  }
  .locations__container table .locations__titles {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .locations__container table .locations__titles .locations__title-desktop {
    color: #afafaf;
    display: block;
  }
  .locations__container table .locations__titles .warehouse {
    padding-right: 190px;
  }
  .locations__container table .locations__titles .contact {
    padding-right: 170px;
  }
  .locations__container table .locations__titles .contact__info {
    padding-right: 100px;
  }
  .locations__container table .locations__row {
    border-bottom: 1px solid #e1e1e1;
    width: 100%;
  }
  .locations__container table .locations__row .warehouse__title {
    width: 14%;
    padding-bottom: 16px;
  }
  .locations__container table .locations__row .category {
    width: 20%;
  }
  .locations__container table .locations__row .img__arrow {
    position: relative;
    top: 0;
  }
}

@media (min-width: 1280px) {
  .locations__container {
    margin: 0 180px;
  }
}
/*# sourceMappingURL=styles.css.map */